.suggestion-item {
  &.hightLight-item {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary;
    }
  }

  &:hover {
    background-color: $gray-200;
    cursor: pointer;
  }
}