.button-story {
  .btn:not(:first-child) {
    margin-left: 20px;
  }

  .list-type {
    margin: 50px 0 20px;
  }
}

.input-story {
  width: 400px;

}

.item-description {
  margin-bottom: 10px;

  &:not(:first-child) {
    margin-top: 50px;
  }
}

.input-story {
  .man-input-wrapper {
    margin-bottom: 30px;
  }
}

.form-story {
  .agreement-section {
    display: flex;
    padding-left: 30%;
    margin-bottom: 30px;

    .man-form-item {
      margin-right: 3px;
      margin-bottom: 0;

    }
  }
}